{% extends 'base.html.twig' %}

{% block title %}Mon compte • Lorenzzo's Pizza{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="account section">

        <div class="account container grid">

            <h1 class="account__title">Mon compte</h1>

            <div class="account__info">
                <h2 class="account__info-title">Bienvenue {{ app.user.firstname }},</h2>
                <p class="account__info-subtitle"><i>c'est dans cet espace que vous allez pouvoir gérer toutes vos information personnelles.</i></p>
            </div>

            <div class="account__data">
                <div class="button">
                    <a href="{{ path('home') }}" class="button__title button__slide-effect">Retour à l'acceuil</a>
                </div>
            </div>

            <div class="account__container container swiper__container swiper-container">

                <div class="swiper-wrapper">

                    <div class="account__card swiper-slide">
                        <a href="{{ path('account_password') }}">

                            <img src="{{ asset('assets/img/account1.jpg') }}" alt="" class="account__img">

                            <div class="account__card-data">
                                <h2 class="account__card-title">Modifier mon mot de passe</h2>
                            </div>

                        </a>
                    </div>

                    <div class="account__card swiper-slide">
                        <a href="#">

                            <img src="{{ asset('assets/img/account2.jpg') }}" alt="" class="account__img">

                            <div class="account__card-data">
                                <h2 class="account__card-title">Gérer mes adresses</h2>
                            </div>

                        </a>
                    </div>

                    <div class="account__card swiper-slide">
                        <a href="#">

                            <img src="{{ asset('assets/img/account3.jpg') }}" alt="" class="account__img">

                            <div class="account__card-data">
                                <h2 class="account__card-title">Voir mes commandes</h2>
                            </div>

                        </a>
                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock %}
