{% extends 'base.html.twig' %}

{% block title %}Se connecter • Lorenzzo's Pizza{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

<section class="connexion__section section">

    <div class="connexion__container container grid">

        <h1 class="connexion__form-title">Bienvenue !</h1>

        {% if error %}
            <div class="connexion__form-subtitle">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="connexion__form-subtitle">
                Vous êtes déjà connecté en tant que <b>{{ app.user.username }}</b>, cliquez <b><a href="{{ path('app_logout') }}">ici</a></b> pour vous déconnecter.
            </div>
        {% endif %}

        <form method="post">

            <div class="connexion__form-email">
                <label for="inputEmail"></label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Votre adresse email" required autofocus>
            </div>
            <div class="connexion__form-password">
                <label for="inputPassword"></label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Votre mot de passe" required>
            </div>
            <div class="button">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="button__title button__slide-effect" type="submit">Connexion</button>
            </div>

        </form>

    </div>

</section>
{% endblock %}
