{% extends 'base.html.twig' %}

{% block title %}Le menu • Lorenzzo's Pizza{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="menu_section section">

        <h1 class="menu__data-title">Vous avez faim ?</h1>
        <p class="menu__data-subtitle">Faites votre choix</p>

        <h2 class="section__title menu__category">Nos pizzas</h2>

        <div class="menu__container container swiper__container swiper-container">

            <div class="swiper-wrapper">

                {% for pizza in pizzas %}

                <div class="menu__card swiper-slide">
                    <a href="{{ path('pizza', { 'slug' : pizza.slug }) }}">

                        <img src="/uploads/{{ pizza.illustration }}" alt="{{ pizza.name }}" class="menu__img">

                        <div class="menu__data">

                            <h2 class="menu__data-titleProduct">{{ pizza.name }}</h2>

                        </div>

                    </a>
                </div>

                {% endfor %}

            </div>

        </div>

        <h2 class="section__title menu__category">Nos desserts</h2>

        <div class="menu__container container swiper__container swiper-container">

            <div class="swiper-wrapper">

                {% for dessert in desserts %}

                    <div class="menu__card swiper-slide">
                        <a href="{{ path('dessert', { 'slug' : dessert.slug }) }}">

                            <img src="/uploads/{{ dessert.illustration }}" alt="{{ dessert.name }}" class="menu__img">

                            <div class="menu__data">

                                <h2 class="menu__data-titleProduct">{{ dessert.name }}</h2>

                            </div></a>

                    </div>

                {% endfor %}

            </div>

        </div>

        <h2 class="section__title menu__category">Nos glaces</h2>

        <div class="menu__container container swiper__container swiper-container">

            <div class="swiper-wrapper">

                {% for iceCream in iceCreams %}

                    <div class="menu__card swiper-slide">
                        <a href="{{ path('iceCream', { 'slug' : iceCream.slug }) }}">

                            <img src="/uploads/{{ iceCream.illustration }}" alt="{{ iceCream.name }}" class="menu__img">

                            <div class="menu__data">

                                <h2 class="menu__data-titleProduct">{{ iceCream.name }}</h2>

                            </div>
                        </a>

                    </div>

                {% endfor %}

            </div>

        </div>

        <h2 class="section__title menu__category">Nos boissons</h2>

        <div class="menu__container container swiper__container swiper-container">

            <div class="swiper-wrapper">

                {% for drink in drinks %}

                    <div class="menu__card swiper-slide">
                        <a href="{{ path('drink', { 'slug' : drink.slug }) }}">

                            <img src="/uploads/{{ drink.illustration }}" alt="{{ drink.name }}" class="menu__img">

                            <div class="menu__data">

                                <h2 class="menu__data-titleProduct">{{ drink.name }}</h2>

                            </div>
                        </a>

                    </div>

                {% endfor %}

            </div>

        </div>

        <h2 class="section__title menu__category">Nos bouteilles de vin</h2>

        <div class="menu__container container swiper__container swiper-container">

            <div class="swiper-wrapper">

                {% for wine in wines %}

                    <div class="menu__card swiper-slide">
                        <a href="{{ path('wine', { 'slug' : wine.slug }) }}">

                            <img src="/uploads/{{ wine.illustration }}" alt="{{ wine.name }}" class="menu__img">

                            <div class="menu__data">

                                <h2 class="menu__data-titleProduct">{{ wine.name }}</h2>

                            </div>
                        </a>

                    </div>

                {% endfor %}

            </div>

        </div>

    </section>

{% endblock %}
