<!doctype html>
<html lang=fr>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Les pizzas fait maison et aux produits bio 100% français.">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="{{ asset('assets/css/swiper-bundle.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <title>{% block title %}Lorenzzo's Pizza • Les pizzas fait maison{% endblock %}</title>
    </head>

    <body>

        <header class="header nav__menu-page" id="header">
            <nav class="nav container">
                <a href="{{ path('home') }}" class="nav__logo">LORENZZO'S PIZZA</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li>
                            <a href="#" class="nav__link">Le menu</a>
                        </li>
                        <li>
                            <a href="#" class="nav__link">Nous contacter</a>
                        </li>
                        <li>
                            <a href="#" class="nav__link">Inscription</a>
                            |
                            <a href="#" class="nav__link">Connexion</a>
                            <!--
                            <a href="" class="nav__link">Mon compte</a>
                            |
                            <a href="" class="nav__link">Déconnexion</a>
                            -->
                        </li>
                    </ul>

                    <i class="uil uil-times nav__close" id="nav-close"></i>
                </div>

                <?php
                $quantityTotal = 0;
                if(isset($_SESSION["Panier_item"])){
                    foreach($_SESSION["Panier_item"]as $item){
                        $quantityTotal += $item["quantity"];
                    }
                }
                ?>

                <a href="#" class="nav__cart"><i class="uil uil-pizza-slice nav__logo-cart"></i><span class="nav__cart-number"><?php echo $quantityTotal; ?></span></a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-bars"></i>
                </div>
            </nav>
        </header>

        <main class="home" id="home">

            {% block content %}
            {% endblock %}

        </main>

        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content grid">
                    <div>
                        <h3 class="footer__title">LORENZZO'S PIZZA</h3>
                        <p class="footer__description">Venez manger de <br> délicieuses pizzas.
                        </p>
                    </div>

                    <div class="footer__data">
                        <h3 class="footer__subtitle">A propos</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="#about" class="footer__link">À propos de nous</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Nos pizza</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__rights">
                    <p class="footer__copy">&#169; 2021 Pizza | Agence SHARK</p>
                </div>
            </div>
        </footer>

        <script src="{{ asset('assets/js/scrollreveal.min.js') }}"></script>
        <script src="{{ asset('assets/js/swiper-bundle.min.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{{ asset('assets/js/vicopo.min.js') }}"></script>

        <script src="{{ asset('assets/js/main.js') }}"></script>

    </body>

</html>